{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
<h1> Hello {{ user.username }}! Below are the customers in your route today! Please make sure to confirm and charge all pickups!</h1>
{% for customer in customers %}
<ul>
    <li><h3>Name: {{customer.name}}<br></h3>
        <h3>Address: {{customer.address}} <br></h3>
    </li>
  </ul>
{% endfor %}
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}